{{ define "main" }}
  <article class="card">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="article-meta">
        {{ partial "datetime.html" . }}
        {{ with .ReadingTime }}
          <span>&middot; {{ . }} {{ i18n "min_read" }}</span>
        {{ end }}
      </div>
    </div>
    <div class="article-content">
      {{ .Content }}
    </div>
    {{ with .GetTerms "tags" }}
      <div class="article-footer">
        <div class="tags">
          {{ range . }}
            <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </article>
  {{- if site.Params.photoswipe.enabled }}
    {{ partial "photoswipe.html" . }}
  {{- end }}
  {{ partial "comments.html" . }}
{{ end }}
